[submodule "src/plugin.video.peertube"]
	path = src/plugin.video.peertube
	url = https://framagit.org/csvke/plugin.video.peertube
[submodule "src/--force"]
	path = src/--force
	url = https://framagit.org/csvke/plugin.video.peertube/
