<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="enter_all_videos" type="bool" label="32007" default="false" />
    <setting id="items_per_page" type="slider" label="32006" default="25" range="0,50" />
    <setting id="api_key" type="text" default="AIzaSyDjGh4MsZFkGXOfJ-v8v4ejuuekAVAJv9s" visible="false"/>
    <setting id="channel_id" type="text" default="UCiJnCs2K5gP-DXnMxlstC9A" visible="false"/>
    <setting id="tvshow_title" type="text" default="毛記電視" visible="false"/>
</settings>