<?xml version="1.0" encoding="UTF-8"?>
<addon id="{repo_addon_id}" name="{repo_addon_name}" version="{repo_addon_version}" provider-name="{repo_addon_provider}">
    <extension point="xbmc.addon.repository">
        {repo_dir}
    </extension>
    <extension point="xbmc.addon.metadata">
        <summary lang="en_GB">{repo_addon_summary}</summary>
        <description lang="en_GB"></description>
        <language></language>
        <platform>all</platform>
        <license>GPL-3.0</license>
        <forum></forum>
        <source></source>
        <news></news>
        <disclaimer></disclaimer>
        <assets>
            <icon>resources/icon.png</icon>
            <fanart>{fanart_file}</fanart>
        </assets>
    </extension>
</addon>