<?xml version="1.0" encoding="UTF-8"?>
<addon id="{repo_addon_id}" name="{repo_addon_name}" version="{repo_addon_version}" provider-name="{repo_addon_provider}">
    <extension point="xbmc.addon.repository">
        <info>{repo_info_url}</info>
        <checksum>{repo_info_checksum_url}</checksum>
        <datadir zip="true">{repo_info_datadir_url}</datadir>
    </extension>
    <extension point="xbmc.addon.metadata">
        <summary lang="en_GB">{repo_addon_summary}</summary>
        <description lang="en_GB"></description>
        <language></language>
        <platform>all</platform>
        <license>GPL-3.0</license>
        <forum></forum>
        <source></source>
        <news></news>
        <disclaimer></disclaimer>
        <assets>
            <icon></icon>
            <fanart></fanart>
        </assets>
    </extension>
</addon>