# {repo_user}/{repo_name} Kodi Addon Repository

Download the [repository addon zip]({repo_addon_link}) to install.

The following addons are available here:{addons}

----
_Generated with [instant-kodi-repo](https://github.com/ping/instant-kodi-repo/) from_ [``{commit:.7}``](https://github.com/{repo_user}/{repo_name}/commit/{commit})
